<p id="notice"><%= notice %></p>

<p>
  <strong>Grade name:</strong>
  <%= @grade.grade_name %>
</p>

<p>
  <strong>Grade description:</strong>
  <%= @grade.grade_description %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
