<%= form_with(model: training, local: true) do |form| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id, id: :training_person_id %>
  </div>

  <div class="field">
    <%= form.label :training_name %>
    <%= form.text_field :training_name, id: :training_training_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
