<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @training.person %>
</p>

<p>
  <strong>Training name:</strong>
  <%= @training.training_name %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
