<%= form_with(model: filiere, local: true) do |form| %>
  <% if filiere.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(filiere.errors.count, "error") %> prohibited this filiere from being saved:</h2>

      <ul>
      <% filiere.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :level_id %>
    <%= form.text_field :level_id, id: :filiere_level_id %>
  </div>

  <div class="field">
    <%= form.label :filiere_name %>
    <%= form.text_field :filiere_name, id: :filiere_filiere_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
