<%= form_with(model: leisure_type, local: true) do |form| %>
  <% if leisure_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leisure_type.errors.count, "error") %> prohibited this leisure_type from being saved:</h2>

      <ul>
      <% leisure_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :leisure_type_name %>
    <%= form.text_field :leisure_type_name, id: :leisure_type_leisure_type_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
