<%= form_with(model: enrollment, local: true) do |form| %>
  <% if enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= form.fields_for :student do |rs| %>
        <div id="company" class="col-md-6 col-xs-12">
          <%= rs.text_field :first_name, label: 'Nome', placeholder:'Votre' %>
          <%= rs.text_field :last_name, label: 'Nome', placeholder:'Votre_Prenom' %>
        </div>
      <% end %>


    <div class="col-md-6 col-xs-12">
      <%= form.radio_button :sexe, "M", label: "Masculin", checked: true, inline: true %>
      <%= form.radio_button :sexe, "F", label: "Feminin", inline: true %>
    </div>

    <div class="col-md-6 col-xs-12">
      <%= form.text_field :nationalite, label: "Nationalité", class: 'form-control', placeholder: 'Malienne...' %>
    </div>

    <div class="col-md-6 col-xs-12">
      <%= form.text_field :lieu_nai, label: "Lieu de naissance", class: 'form-control', placeholder: 'Bamako...' %>
    </div>





  <div class="field">
    <%= form.label :date_enroll %>
    <%= form.datetime_select :date_enroll, id: :enrollment_date_enroll %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
