<p id="notice"><%= notice %></p>

<h1>Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Person student</th>
      <th>Type enroll</th>
      <th>Num</th>
      <th>Num enroll</th>
      <th>School year</th>
      <th>Date enroll</th>
      <th>Filiere</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.school %></td>
        <td><%= enrollment.student.first_name %></td>
        <td><%= enrollment.student.last_name %></td>
        <td><%= enrollment.student.middle_name %></td>
        <td><%= enrollment.student.date_nai %></td>
        <td><%= enrollment.student.lieu_nai %></td>
        <td><%= enrollment.student.sexe %></td>
        <td><%= enrollment.student.nom_pere %></td>
        <td><%= enrollment.student.prenom_pere %></td>
        <td><%= enrollment.student.address_pere %></td>
        <td><%= enrollment.student.profession_pere %></td>
        <td><%= enrollment.student.nom_mere %></td>
        <td><%= enrollment.student.prenom_mere %></td>
        <td><%= enrollment.student.address_mere %></td>
        <td><%= enrollment.student.profession_mere %></td>
        <td><%= enrollment.filiere %></td>
        <td><%= enrollment.grade %></td>
        <td><%= link_to 'Show', enrollment %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_enrollment_path %>
