<%= form_with(model: experience, local: true) do |form| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id, id: :experience_person_id %>
  </div>

  <div class="field">
    <%= form.label :experience_name %>
    <%= form.text_field :experience_name, id: :experience_experience_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
