<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @experience.person %>
</p>

<p>
  <strong>Experience name:</strong>
  <%= @experience.experience_name %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
