<%= form_with(model: school_year, local: true) do |form| %>
  <% if school_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school_year.errors.count, "error") %> prohibited this school_year from being saved:</h2>

      <ul>
      <% school_year.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :annee_scolaire %>
    <%= form.text_field :annee_scolaire, id: :school_year_annee_scolaire %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :school_year_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :school_year_end_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :school_year_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
