<p id="notice"><%= notice %></p>

<h1>School Years</h1>

<table>
  <thead>
    <tr>
      <th>Annee scolaire</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_years.each do |school_year| %>
      <tr>
        <td><%= school_year.annee_scolaire %></td>
        <td><%= school_year.start_date %></td>
        <td><%= school_year.end_date %></td>
        <td><%= school_year.status %></td>
        <td><%= link_to 'Show', school_year %></td>
        <td><%= link_to 'Edit', edit_school_year_path(school_year) %></td>
        <td><%= link_to 'Destroy', school_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School Year', new_school_year_path %>
