<p id="notice"><%= notice %></p>

<p>
  <strong>Cycle:</strong>
  <%= @level.cycle %>
</p>

<p>
  <strong>Level name:</strong>
  <%= @level.level_name %>
</p>

<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
