<%= form_with(model: region, local: true) do |form| %>
  <% if region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :region_name %>
    <%= form.text_field :region_name, id: :region_region_name %>
  </div>

  <div class="field">
    <%= form.label :region_name_short %>
    <%= form.text_field :region_name_short, id: :region_region_name_short %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position, id: :region_position %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :region_code %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :region_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :region_longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
